/*** BLOQUE ***/

#formulario-calculadora {
    background-color: #dce6ef;
    padding: 30px 50px;
    border-radius: 25px;  
}

#formulario-calculadora h3 {
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    font-style: italic;
}

#formulario-calculadora hr {
    border: none;
    height: 1px;
    background-color: #3E87BB;
}

/*** FORMULARIO ***/

#calculadora-esparta #nombre-correo, #datos-empresa {
    display: flex;
    width: 99%;
}

#calculadora-esparta #nombre-correo label, #datos-empresa label {
    width: 100%;
}

#calculadora-esparta #nombre-correo label input, #datos-empresa label input {
    width: 99%;
}

#calculadora-esparta #final {
    display: flex;
    justify-content: space-between;
}

#calculadora-esparta #final p {
    color: #a0a0a0;
    font-size: 12px;
}

#calculadora-esparta .requerido {
    color: rgb(255, 0, 0);
}

#calculadora-esparta input[type=submit] {
    background: #8E27CC;
    border-radius: 10px;
    color: #fff;
    font-weight: 900 !important;
}


/*** RESULTADO ***/

#formulario-calculadora p {
    margin: 0;
}

#formulario-calculadora .box-ahorro {
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 8px;
}